@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Parabole';
  src: url('./assets/Font/Parabole.woff2') format('woff2'); 

}

@font-face {
  font-family: 'Fraktion';
  src: url('./assets/Font/fraktion.ttf') format('ttf');    

}

@font-face {
  font-family: 'Valorax';
  src: url('./assets/Font/valorax.otf') format('opentype');    

}
@font-face {
  font-family: 'Dragon';
  src: url('./assets/Font/dragon.otf') format('opentype');    

}

*{
  @apply m-0 p-0 font-valorax
}

body{
  @apply w-screen h-screen  bg-orange-50 overflow-x-hidden
}
li{
  @apply cursor-pointer hover:scale-110 duration-150
}